@import "../../styles/app.scss";

.HomePage {

  height: 100vh;

  &__logo-container {
    height: 120px;

    @media (min-width: 640px) {
      height: 360px;
    }

    img {
      width: 120px;
      margin-left: 1rem;
      transition: width $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
      
      @media (min-width: 640px) {
        margin-top: -30px;
        width: 240px;
      }

      @media (min-width: 1024px) {
        width: 300px;
        margin-top: -35px;
      }
    }
  }

    &__secondary-logo-container {
      height: 120px;
      bottom: -1rem;

      @media (min-width: 640px) {
        height: 240px;
        bottom: -4rem;
      }

      img {
        width: 120px;
        margin-left: 1rem;
        transition: width $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
        
        @media (min-width: 640px) {
          width: 145px;
        }
      }
    }

  &__headline-three--container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

    a {
        text-decoration: none;
        color: map-get($colors, "white");

      &:visited {
        text-decoration: none;
        color: map-get($colors, "white");
      }

      &:active {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      
      &:hover {
        text-decoration: none;
        color: map-get($colors, "white");
      }
    }

  }

  &__headline-one {
    font-size: 4rem;
    cursor: default;
  }
  
  &__headline-three {
    font-size: 2rem;
    
    @media (min-width: 640px) {
      font-size: 5.5rem;
    }
  }

  &__headline-six {
    font-size: 1rem;

    @media (min-width: 640px) {
      font-size: 3rem;
    }
  }

  &__site-link {
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: map-get($colors, "white");
    flex-direction: column;
    text-align: right;
    
    @media (min-width: 640px) {
      flex-direction: row;

      span {
        display: block;
      }    
    }

    &--mobile {
      display: block;
      @media (min-width: 400px) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media (min-width: 400px) {
        display: block;
      }
    }

    &:visited {
      text-decoration: none;
      color: map-get($colors, "white");
    }

    &:active {
      text-decoration: none;
      color: map-get($colors, "white");
    }
    
    &:hover {
      text-decoration: none;
      color: map-get($colors, "white");
    }
  }

  &__svg-container {
    height: 15%;
    width: 15%;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &__social-container {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;

    &--desktop {
      display: none;

      @media (min-width: 640px) {
        display: block;
      }
    }

    &--mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000000BF;
      width: 200px;
      z-index: 1;
      right: 0;
      top: 0;
      height: 100%;
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

      &--hide {
        transform: translate(100%, 0);
        cursor: pointer;
      }
      
      &--show {
        transform: translate(0, 0);
      }

      @media (min-width: 640px) {
        display: none;
      }
    }
  }

  &__social-toggle {
    display: block;
    top: 50%;
    transform: translateX(0) translateY(-50%);

     @media (min-width: 640px) {
      display: none;
    }
    
    &--nav-closed {
      right: 2rem;
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--nav-open {
      right: 2rem;
      transform: translateX(-200px);
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);
    }
  }
}
