@import "../../styles/app.scss";

.HomePage {

  height: 100vh;
  overflow-x: hidden;

  &__close-x {
    font-size: 4rem;
    top: 2rem;
    left: 2rem;
  }

  &__headline-center-container {
    @include anchor;
  }

  &__image1 {
    background-attachment: fixed;
  }

 &__headline-one {
    font-size: 3rem;
    letter-spacing: -3px;
  }
  
  &__headline-three {
    font-size: 3rem;
    
    @media (min-width: 640px) {
      font-size: 5rem;
    }
  }

  &__headline-six {
    font-size: 1.5rem;

    @media (min-width: 640px) {
      font-size: 2rem;
    }
  }

  &__site-link {
    @include anchor;
    font-size: 1.5rem;
    flex-direction: column;
    text-align: right;

    &--mobile {
      display: block;

      @media (min-width: 640px) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: 640px) {
        display: block;
      }
    }
  }

  &__svg-container {
    height: 15%;
    width: 15%;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &__social-container {
    top: 2rem;
    left: 2rem;
    // transform: translateY(-50%);
    width: 300px;

    &--desktop {
      display: none;

      @media (min-width: 640px) {
        display: block;
      }
    }

    &--mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000000BF;
      width: 200px;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100vh;
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

      &--hide {
        transform: translate(-100%, 0);
        cursor: pointer;
      }
      
      &--show {
        transform: translate(0, 0);
      }

      @media (min-width: 640px) {
        display: none;
      }
    }
  }

  &__social-toggle {
    display: block;
    top: 25%;
    transform: translateY(-25%);

     @media (min-width: 640px) {
      display: none;
    }
    
    &--nav-closed {
      right: 1rem;
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--nav-open {
      right: 1rem;
      transform: translateX(-200px);
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);
    }
  }

  &__container-iframe {
    iframe {
      height: 400px;

      @media (min-width: 640px) {
        width: 50%;
      }
    }
  }
}
