@import "../../styles/app.scss";

.HomePage {
  -webkit-animation: fadein $transition-duration-short;
  -moz-animation: fadein $transition-duration-short;
  -ms-animation: fadein $transition-duration-short;
  -o-animation: fadein $transition-duration-short;
  animation: fadein $transition-duration-short;

  height: 100vh;

  &__headline-one {
    font-size: 4rem;
    cursor: default;

    -webkit-animation: fadein $transition-duration-med;
    -moz-animation: fadein $transition-duration-med;
    -ms-animation: fadein $transition-duration-med;
    -o-animation: fadein $transition-duration-med;
    animation: fadein $transition-duration-med;
  }
  
  &__headline-three {
    font-size: 2rem;
    cursor: default;

    -webkit-animation: fadein $transition-duration-med;
    -moz-animation: fadein $transition-duration-med;
    -ms-animation: fadein $transition-duration-med;
    -o-animation: fadein $transition-duration-med;
    animation: fadein $transition-duration-med;

    &--container{
      &:hover{
        .HomePage__svg-container{
          // transition: transform $transition-duration-long ease-in, opacity $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
          // opacity: 1;
        }
      }
    }
  }

  &__svg-container {
    height: 15%;
    width: 15%;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &__footer-nav {
    
    -webkit-animation: fadein $transition-duration-med;
    -moz-animation: fadein $transition-duration-med;
    -ms-animation: fadein $transition-duration-med;
    -o-animation: fadein $transition-duration-med;
    animation: fadein $transition-duration-med;

    &--list-item {

      transform: translateY(0);
      transition: transform $transition-duration-sorta-short linear;

      a {
        text-decoration: none;
        font-size: 1.75rem;
        color: map-get($colors, "burnt-yellow");
      }

      a:active {
        color: map-get($colors, "burnt-yellow");
      }
      
      a:visited {
        color: map-get($colors, "burnt-yellow");
      }

      &:hover{
        transform: translateY(-15%);
      }
    }
  }
}
