@import "../../styles/app.scss";

.SecondaryLogo {
  bottom: 2rem;
  right: 1rem;

  @include common-bp(tablet) {
    right: 2rem;
  }

  &__img {
    width: 11rem;

    @include common-bp(tablet) {
      width: 8rem;
    }
  }
}
