@import "../../styles/app.scss";

.Stuff {



  height: 100vh;

  &__logo-container {
    height: 120px;

    @media (min-width: 640px) {
      height: 360px;
    }

    img {
      width: 120px;
      margin-left: 1rem;
      transition: width $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
      
      @media (min-width: 640px) {
        margin-top: -30px;
        width: 240px;
      }

      @media (min-width: 1024px) {
        width: 300px;
        margin-top: -35px;
      }
    }
  }

  &__site-link {
    top: 2rem;
    right: 2rem;

    font-size: 1.5rem;
    color: map-get($colors, "white");

    &:visited {
      text-decoration: none;
      color: map-get($colors, "white");
    }

    &:active {
      text-decoration: none;
      color: map-get($colors, "white");
    }
    
    &:hover {
      text-decoration: none;
      color: map-get($colors, "white");
    }
  }

  &__social-container {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;
  }
}