@import "../../styles/app.scss";

.Stuff {

  height: 100vh;

  ul {
    list-style: circle;
  }

  &__merch-headline {
    font-size: 0.8rem;
    // border-bottom: 1px solid;
    // border-color: rgba(0, 0, 0, 0.85);

    @media (min-width: 620px) {
      font-size: 1.5rem;
    }

    &--container {
      background-color: rgba(0, 0, 0, 0.85);
    }

    text-align: center;

    a {

      color: map-get($colors, "white");

      &:visited {
        text-decoration: underline;
        color: map-get($colors, "white");
      }

      &:active {
        text-decoration: underline;
        color: map-get($colors, "white");
      }
      
      &:hover {
        text-decoration: underline;
        color: map-get($colors, "white");
      }
    }
  }

  &__logo-container {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  &__secondary-logo-container {
    bottom: 2rem;
    left: 2rem;
  }

  &__site-link {
    top: 2rem;
    right: 2rem;

    font-size: 1.5rem;
   
    a {
        text-decoration: none;
        color: map-get($colors, "white");

      &:visited {
        text-decoration: none;
        color: map-get($colors, "white");
      }

      &:active {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      
      &:hover {
        text-decoration: none;
        color: map-get($colors, "white");
      }
    }
  }

  &__merch-photo {

    img {
      height: 13rem;

      @media (min-width: 500px) {
        height: 15rem;
      }

       @media (min-width: 1024px) {
        height: 20rem;
      }
    }

    &--paragraph-front {
      font-size: 1.5rem;
      margin-right: 1.1rem;
      display: none; 

      @media (min-width: 1024px) {
        display: block;
      }

    }

    &--paragraph-back {
      font-size: 1.5rem;
      margin-left: 1.1rem;
    }

    &--back {
      display: none; 

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  &__social-container {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;
  }

  &__headline-three--container {
    bottom: 2rem;
  }

  &__merch {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__merch-details-placeholder {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }
}

