@import "../../styles/app.scss";

.Stuff {

  overflow-x: hidden;

  ul {
    list-style: circle;
  }

  &__merch-headline {
    @include anchor;
    font-size: 1.7rem;

    @media (min-width: 620px) {
      font-size: 1.5rem;
    }

    text-align: center;
  }

  &__logo-container {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  &__secondary-logo-container {
    bottom: 2rem;
    left: 2rem;
  }

  &__site-link {
    @include anchor;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;   
  }

  &__merch-photo {

    img {
      height: 13rem;

      @media (min-width: 500px) {
        height: 15rem;
      }

       @media (min-width: 1024px) {
        height: 20rem;
      }
    }

    &--paragraph-front {
      font-size: 1.5rem;
      margin-right: 1.1rem;
    }

    &--paragraph-back {
      font-size: 1.5rem;
      margin-left: 1.1rem;
    }

  }

  &__social-container {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;
  }

  &__headline-three--container {
    bottom: 2rem;
  }
}

