@import "../../styles/app.scss";

.SocialsModule {
  display: flex;
  justify-content: flex-end;

  @media (min-width: 830px) {
    margin-top: 0;
  }

  &__unordered-list {
    width: 40px;
  }

   &__list-item {
    width: 50%;
    margin: 0 auto;

    svg {
      width: 30px !important;
      fill: map-get($colors, "black");

      path {
        fill: map-get($colors, "black");
      }

      @include common-bp(tablet) {
        width: 100% !important;
      }
    }

    transition: transform $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);

    a:hover {
      color: map-get($colors, "black");
    }

    a {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .svg-inline--fa {
      height: auto !important;
    }
  }
}

.HomePage__social-container--mobile--show {
  svg {
    fill: map-get($colors, "white");

    path {
      fill: map-get($colors, "white");
    }
  }
}
