@import "../../styles/app.scss";

.MerchPage {

  overflow-x: hidden;

  &__main-logo-container {
    align-items: center;

    .MainLogo {
      margin: 0 auto;
    }

    @media (min-width: 620px) {
      align-items: initial;
    }
  }

  &__sold-out-message {
    font-size: 1.7rem;
    background: firebrick;
    top: 18%;
    transform: rotate(-25deg);
    transform-origin: center center;

    @media (min-width: 620px) {
      font-size: 2rem;
    }
  }

  &__sold-out-message-two {
    font-size: 1.7rem;
    background: firebrick;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;

    @media (min-width: 620px) {
      font-size: 2rem;
    }
  }

  &__merch, &__merch-photo-container {
    max-width: 1024px;
  }

  &__merch-unordered-list {
    list-style: circle;
  }

  &__merch-headline {
    @include anchor-white;
    font-size: 1.7rem;

    @media (min-width: 620px) {
      font-size: 1.5rem;
    }

    text-align: center;
  }

  &__logo-container {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  &__secondary-logo-container {
    bottom: 2rem;
    left: 2rem;
  }

  &__site-link {
    @include anchor-white;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
  }

  &__merch-photo-paragraph {
    font-size: 1.5rem;
  }

  &__social-container {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;
  }

  &__headline-three--container {
    bottom: 2rem;
  }
}

