@import "../../styles/app.scss";

.MerchPage {

  overflow-x: hidden;

  ul {
    list-style: circle;
  }

  &__sold-out-message {
    font-size: 1.7rem;
    background: firebrick;
    top: 18%;
    transform: rotate(-25deg);
    transform-origin: center center;

    @media (min-width: 620px) {
      font-size: 2rem;
    }

  }

  &__sold-out-message-two {
    font-size: 1.7rem;
    background: firebrick;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transform-origin: center center;

    @media (min-width: 620px) {
      font-size: 2rem;
    }

  }

  &__merch {
    max-width: 1024px;
  }
  
  &__merch-photo-container {
    max-width: 1024px;
  }

  &__merch-headline {
    @include anchor;
    font-size: 1.7rem;

    @media (min-width: 620px) {
      font-size: 1.5rem;
    }

    text-align: center;

    a {
      text-decoration: line-through !important;
    }
    
    p {
      color: firebrick;
      text-decoration: none !important;
    }
  }

  &__logo-container {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  &__secondary-logo-container {
    bottom: 2rem;
    left: 2rem;
  }

  &__site-link {
    @include anchor;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;   
  }

  &__merch-photo {

    img {
      height: 13rem;

      @media (min-width: 500px) {
        height: 15rem;
      }

       @media (min-width: 1024px) {
        height: 20rem;
      }
    }

    &--paragraph-front {
      font-size: 1.5rem;
      margin-right: 1.1rem;
    }

    &--paragraph-back {
      font-size: 1.5rem;
      margin-left: 1.1rem;
    }

  }

  &__social-container {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;
  }

  &__headline-three--container {
    bottom: 2rem;
  }
}

