@import "../../styles/app.scss";

.Videos {
  &__inner {
    max-width: 1024px;
  }

  &__h1 {
    font-size: 2rem;
  }

  &__iframe {
    height: 450px;
    border: 0;

    &--last {
      margin: 0 auto;
    }
  }
}
