@mixin anchor {
  a {
    text-decoration: none;
    color: map-get($colors, "white");
    height: 100%;

    &:visited {
      text-decoration: none;
      color: map-get($colors, "white");
    }

    &:active {
      text-decoration: none;
      color: map-get($colors, "white");
    }
    
    &:hover {
      text-decoration: none;
      color: map-get($colors, "white");
    }
  }
}
