@import "../../styles/app.scss";

.NewHomePage {
  &__video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    display: block;
  }

  &__unordered-list {
    color: map-get($colors, "white");
    @include anchor-white;
  }

  &__list-item {
    margin: 4px 0;
  }

  &__socials-container {
    position: fixed;
    display: block;
    z-index: 10;
    right: 1rem;
    top: 1rem;
  }

  &__icons {
    position: fixed;
    display: block;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(-50% -50%);

    a {
      text-decoration: none;
    }
  }
}
