@import "../../styles/app.scss";

.NewHomePage {
  &__hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &__logo-container {
    top: 1rem;
    left: 1rem;
    position: absolute;
  }

  &__headline {
    font-size: 2.4rem;
    @include anchor-white;

    a {
      text-decoration: underline !important;
    }
  }
  &__video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    display: block;
  }

  &__unordered-list {
    color: map-get($colors, "black");
    @include anchor-black;
  }

  &__list-item {
    margin: 4px 0;
    a {
      color: #000;
    }
  }

  &__socials-container {
    position: fixed;
    display: block;
    z-index: 10;
    left: 1rem;
    bottom: 1rem;
  }

  &__icons {
    position: fixed;
    // display: block;
    z-index: 10;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // right: 50%;
    transform: translateY(-50%);
    // transform: translate(-50%, -50%);

    a {
      text-decoration: none;
    }
  }
}
